In [86]:
import json
import pandas as pd
import numpy as np

In [87]:
tracking_csv = pd.read_csv('https://raw.githubusercontent.com/dcervone/EPVDemo/master/data/2013_11_01_MIA_BKN.csv')

In [88]:
tracking_csv

,time,game,quarter,shot_clock,game_clock,x,y,z,a1_ent,a1_x,...,h3_event,h4_ent,h4_x,h4_y,h4_event,h5_ent,h5_x,h5_y,h5_event,possID
0,0,2013110117,1,NaN,720.00,44.45828,38.48837,3.76955,296572,2.42870,...,NaN,2989,71.05831,26.54387,NaN,330047.0,49.14075,25.10066,NaN,NaN
1,40,2013110117,1,NaN,720.00,44.52611,38.56662,3.93236,296572,2.42067,...,NaN,2989,71.02341,26.55866,NaN,330047.0,49.09809,25.01286,NaN,NaN
2,80,2013110117,1,NaN,720.00,44.65367,38.45703,4.02647,296572,2.41226,...,NaN,2989,70.98247,26.57164,NaN,330047.0,49.05271,24.92462,NaN,NaN
3,120,2013110117,1,NaN,720.00,44.63664,38.29231,3.98501,296572,2.40307,...,NaN,2989,70.93815,26.58827,NaN,330047.0,49.00721,24.83752,NaN,NaN
4,160,2013110117,1,NaN,720.00,44.64018,38.12645,3.84917,296572,2.39268,...,NaN,2989,70.89063,26.60813,NaN,330047.0,48.95497,24.74356,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89863,10025847,2013110117,4,NaN,8.06,17.81975,47.69637,2.97079,296572,15.47995,...,NaN,66858,27.49349,40.19042,NaN,2989.0,25.57084,33.20638,NaN,233.0
89864,10025887,2013110117,4,NaN,8.02,18.15439,47.48182,2.27488,296572,15.70671,...,NaN,66858,27.24826,40.37380,NaN,2989.0,25.65535,33.10868,NaN,233.0
89865,10025927,2013110117,4,NaN,7.98,18.53415,47.43457,0.89429,296572,15.93763,...,NaN,66858,27.00746,40.49056,NaN,2989.0,25.68229,33.05005,NaN,233.0
89866,10025967,2013110117,4,NaN,7.94,18.98536,47.59625,0.14938,296572,16.17868,...,NaN,66858,26.76152,40.56121,NaN,2989.0,25.70328,33.00063,NaN,233.0
89867,10026007,2013110117,4,NaN,7.90,19.07002,47.78523,0.88429,296572,16.43011,...,NaN,66858,26.53295,40.64188,NaN,2989.0,25.76950,32.92682,NaN,233.0

In [91]:
with open('/Users/dgrubis/Desktop/DS5500/repo/DS5500_Player_Tracking_and_Identification_NBA/data/0021500440.json') as r:
  jsonData = json.load(r)

In [92]:
rows = []
moment_id = 0
#each event, I *think* is a possession or similar event found in play by play
#TODO: look into how pbp splits events vs. SportVu here
for i in range(len(jsonData['events'])):
    event_id = int(jsonData['events'][i]['eventId'])
    #moment is every frame captured at 25 fps
    for moment in jsonData['events'][i]['moments']:
        moment_id += 1
        quarter = moment[0]
        mili_seconds = moment[1]
        game_clock = moment[2]
        shot_clock = moment[3]
        #entity = player or ball
        for entity in moment[5]:
            team_id = entity[0]
            player_id = entity[1]
            x = entity[2]
            y = entity[3]
            z = entity[4]
            row = [event_id, moment_id, quarter, mili_seconds, game_clock, shot_clock, team_id, player_id, x, y, z]
            rows.append(row)

rows = np.array(rows)
df = pd.DataFrame(rows, columns = ['event_id', 'moment_id', 'quarter', 'mili_seconds', 'game_clock', 
                                  'shot_clock', 'team_id', 'player_id', 'x', 'y', 'z'])

In [94]:
df.head(55)

,event_id,moment_id,quarter,mili_seconds,game_clock,shot_clock,team_id,player_id,x,y,z
0,1,1,1,1451101226027,716.42,12.72,-1,-1,56.0231,9.00219,3.90564
1,1,1,1,1451101226027,716.42,12.72,1610612747,977,32.5831,6.86226,0
2,1,1,1,1451101226027,716.42,12.72,1610612747,201579,30.2933,19.79,0
3,1,1,1,1451101226027,716.42,12.72,1610612747,101150,57.3861,8.91221,0
4,1,1,1,1451101226027,716.42,12.72,1610612747,203903,46.7865,33.2841,0
5,1,1,1,1451101226027,716.42,12.72,1610612747,1626204,28.8451,38.4919,0
6,1,1,1,1451101226027,716.42,12.72,1610612746,200755,32.5549,16.5632,0
7,1,1,1,1451101226027,716.42,12.72,1610612746,101108,21.8652,27.9834,0
8,1,1,1,1451101226027,716.42,12.72,1610612746,201601,26.5256,10.5524,0
9,1,1,1,1451101226027,716.42,12.72,1610612746,201599,24.1249,21.7004,0
10,1,1,1,1451101226027,716.42,12.72,1610612746,201933,21.1001,26.0595,0
11,1,2,1,1451101226068,716.37,12.71,-1,-1,55.5887,9.02511,3.97377
12,1,2,1,1451101226068,716.37,12.71,1610612747,977,32.3675,6.76122,0
13,1,2,1,1451101226068,716.37,12.71,1610612747,201579,29.8512,19.7294,0
14,1,2,1,1451101226068,716.37,12.71,1610612747,101150,56.9097,9.14669,0
15,1,2,1,1451101226068,716.37,12.71,1610612747,203903,46.4637,33.2451,0
16,1,2,1,1451101226068,716.37,12.71,1610612747,1626204,28.5312,38.5694,0
17,1,2,1,1451101226068,716.37,12.71,1610612746,200755,32.4671,16.5175,0
18,1,2,1,1451101226068,716.37,12.71,1610612746,101108,21.8946,28.0939,0
19,1,2,1,1451101226068,716.37,12.71,1610612746,201601,26.4058,10.407,0
20,1,2,1,1451101226068,716.37,12.71,1610612746,201599,23.852,21.5921,0
21,1,2,1,1451101226068,716.37,12.71,1610612746,201933,20.8839,26.3713,0
22,1,3,1,1451101226107,716.33,12.69,-1,-1,55.1374,9.09106,4.03322
23,1,3,1,1451101226107,716.33,12.69,1610612747,977,32.178,6.64014,0
24,1,3,1,1451101226107,716.33,12.69,1610612747,201579,29.4022,19.6542,0
25,1,3,1,1451101226107,716.33,12.69,1610612747,101150,56.4347,9.39289,0
26,1,3,1,1451101226107,716.33,12.69,1610612747,203903,46.1319,33.1484,0
27,1,3,1,1451101226107,716.33,12.69,1610612747,1626204,28.2267,38.6345,0
28,1,3,1,1451101226107,716.33,12.69,1610612746,200755,32.3837,16.4865,0
29,1,3,1,1451101226107,716.33,12.69,1610612746,101108,21.9142,28.2104,0
30,1,3,1,1451101226107,716.33,12.69,1610612746,201601,26.2873,10.2612,0
31,1,3,1,1451101226107,716.33,12.69,1610612746,201599,23.5706,21.4818,0
32,1,3,1,1451101226107,716.33,12.69,1610612746,201933,20.6648,26.6949,0
33,1,4,1,1451101226148,716.29,12.67,-1,-1,54.672,9.19581,4.08451
34,1,4,1,1451101226148,716.29,12.67,1610612747,977,31.9976,6.5237,0
35,1,4,1,1451101226148,716.29,12.67,1610612747,201579,28.9729,19.512,0
36,1,4,1,1451101226148,716.29,12.67,1610612747,101150,55.9301,9.61546,0
37,1,4,1,1451101226148,716.29,12.67,1610612747,203903,45.8008,33.1129,0
38,1,4,1,1451101226148,716.29,12.67,1610612747,1626204,27.9211,38.6948,0
39,1,4,1,1451101226148,716.29,12.67,1610612746,200755,32.3011,16.4523,0
40,1,4,1,1451101226148,716.29,12.67,1610612746,101108,21.9718,28.3351,0
41,1,4,1,1451101226148,716.29,12.67,1610612746,201601,26.1727,10.1264,0
42,1,4,1,1451101226148,716.29,12.67,1610612746,201599,23.2967,21.3292,0
43,1,4,1,1451101226148,716.29,12.67,1610612746,201933,20.4735,26.9261,0
44,1,5,1,1451101226187,716.25,12.65,-1,-1,54.1954,9.33515,4.12817
45,1,5,1,1451101226187,716.25,12.65,1610612747,977,31.7896,6.41827,0
46,1,5,1,1451101226187,716.25,12.65,1610612747,201579,28.5401,19.4107,0
47,1,5,1,1451101226187,716.25,12.65,1610612747,101150,55.3886,9.80249,0
48,1,5,1,1451101226187,716.25,12.65,1610612747,203903,45.4909,33.0716,0
49,1,5,1,1451101226187,716.25,12.65,1610612747,1626204,27.6205,38.753,0
50,1,5,1,1451101226187,716.25,12.65,1610612746,200755,32.2146,16.4228,0
51,1,5,1,1451101226187,716.25,12.65,1610612746,101108,22.0284,28.4765,0
52,1,5,1,1451101226187,716.25,12.65,1610612746,201601,26.0397,9.92566,0
53,1,5,1,1451101226187,716.25,12.65,1610612746,201599,23.0253,21.2024,0
54,1,5,1,1451101226187,716.25,12.65,1610612746,201933,20.2614,27.2043,0